/** @module CardQuestion.pcss
 *  @since 2021.02.19, 01:16
 *  @changed 2021.02.19, 01:17
 */
.CardQuestion {
  @mixin fullScreen;
  @mixin cardContainer;
  & > * {
    @mixin cardItem;
  }
  &-Question {
    @mixin Title;
  }
  &-Info {
    @mixin Info;
  }
  &-Variants,
  &-Actions {
    @mixin Actions;
  }
}
