/** @module index.pcss
 *  @since 2021.02.19, 00:55
 *  @changed 2021.02.19, 00:55
 */

body {
  margin: 0;
  padding: 0;
  background-color: $bodyBgColor;
}
body,
table,
input,
textarea,
.defaultFont {
  @mixin defaultFont;
  color: $defaultTextColor;
}

body, html {
  @mixin fullScreen;
  position: fixed;
}

